@import "vars"

@mixin fontStyle($weight, $size, $line, $font, $safe-font, $font-family)
  font-family: $font, $safe-font, $font-family
  font-weight: $weight
  line-height: $line
  font-size: $size

.heading-lg
  @include fontStyle(bold, 5.25em, 1.06, $first-font, $safe-serif, serif)

.heading-md
  @include fontStyle(bold, 3.125em, normal, $first-font, $safe-serif, serif)

.heading-sm
  @include fontStyle(lighter, 1.25em, normal, $second-font, $safe-sans-serif, sans-serif)

.heading-xs
  @include fontStyle(bold, 1em, 1.245, $second-font, $safe-sans-serif, sans-serif)

.main-caption
  @include fontStyle(bold, 1.25em, normal, $second-font, $safe-sans-serif, sans-serif)

.second-caption
  @include fontStyle(lighter, 1.125em, normal, $second-font, $safe-sans-serif, sans-serif)

.heading-nav
  @include fontStyle(lighter, 1.0625em, bold, $second-font, $safe-sans-serif, sans-serif)

.btn-text
  @include fontStyle(normal, 1.125em, normal, $second-font, $safe-sans-serif, sans-serif)

.heading-sm, .heading-md, .heading-lg
  color: $blue

.heading-xs, .second-caption, .paragraph, .location-paragraph
  color: $violet

.main-caption
  color: $orange

.heading-sm, .heading-md
  text-transform: capitalize

.main-caption, .second-caption
  text-transform: uppercase

.paragraph
  @include fontStyle(normal, 1em, 2, $second-font, $safe-sans-serif, sans-serif)

  &_card-p
    @extend .paragraph
    text-align: center
    line-height: 1.5

  &_list-p
    @extend .paragraph
    line-height: 1.2

.location-paragraph
  @include fontStyle(normal, 1.125em, 2, $second-font, $safe-sans-serif, sans-serif)