@import "vars"
@import "typography"

@mixin shadow($color)
  box-shadow: 0 20px 60px $color

.btn
  min-width: 170px
  min-height: 60px
  @extend .btn-text
  color: $white
  white-space: nowrap
  border: 1px solid transparent
  border-radius: .5em
  transition: color 300ms, background-color 300ms, border 300ms

  &--info
    background: $yellow
    @include shadow($info-btn-shadow)

  &--info:hover
    background-color: transparent
    border: 1px solid $yellow
    color: $yellow

  &--form
    background: linear-gradient($light-gradient, $dark-gradient)

  &--play
    min-width: 180px
    background: $white
    color: $gray
    text-align: right
    display: flex
    align-items: center
    justify-content: space-evenly

    &__icon
      background: url('../assets/icons/play-btn.svg') 54% 50%/25% no-repeat $orange
      width: 52px
      height: 52px
      border-radius: 50%
      display: flex
      @include shadow($orange)

  &--play:hover
    background-color: $orange
    color: $white

.auth-btn
  @extend .heading-nav
  min-width: 100px
  min-height: 40px
  white-space: nowrap
  border: 1px solid transparent
  border-radius: .3em
  background-color: transparent
  transition: 300ms border
  cursor: pointer

.auth-btn:hover
  border: 1px solid $black