html, body, div, span,
h1, h2, h3, h4, h5, h6, p, a, img, ol,
ul, li, form, label, legend,
article, aside, footer, header,
menu, nav, section, video, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  line-height: normal;
}

article, aside, footer, header, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.heading-lg {
  font-family: Volkhov, Georgia, serif;
  font-weight: bold;
  line-height: 1.06;
  font-size: 5.25em;
}

.heading-md {
  font-family: Volkhov, Georgia, serif;
  font-weight: bold;
  line-height: normal;
  font-size: 3.125em;
}

.heading-sm {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: normal;
  font-size: 1.25em;
}

.heading-xs {
  font-family: Poppins, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.245;
  font-size: 1em;
}

.main-caption {
  font-family: Poppins, Arial, sans-serif;
  font-weight: bold;
  line-height: normal;
  font-size: 1.25em;
}

.second-caption {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: normal;
  font-size: 1.125em;
}

.heading-nav, .page-header__select select, .page-header .main-nav, .auth-btn {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: bold;
  font-size: 1.0625em;
}

.btn-text, .btn {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  font-size: 1.125em;
}

.heading-sm, .heading-md, .heading-lg {
  color: #181E4B;
}

.heading-xs, .second-caption, .paragraph, .paragraph_list-p, .paragraph_card-p, .location-paragraph {
  color: #5E6282;
}

.main-caption {
  color: #DF6951;
}

.heading-sm, .heading-md {
  text-transform: capitalize;
}

.main-caption, .second-caption {
  text-transform: uppercase;
}

.paragraph, .paragraph_list-p, .paragraph_card-p {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 1em;
}
.paragraph_card-p {
  text-align: center;
  line-height: 1.5;
}
.paragraph_list-p {
  line-height: 1.2;
}

.location-paragraph {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 1.125em;
}

.heading-lg {
  font-family: Volkhov, Georgia, serif;
  font-weight: bold;
  line-height: 1.06;
  font-size: 5.25em;
}

.heading-md {
  font-family: Volkhov, Georgia, serif;
  font-weight: bold;
  line-height: normal;
  font-size: 3.125em;
}

.heading-sm {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: normal;
  font-size: 1.25em;
}

.heading-xs {
  font-family: Poppins, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.245;
  font-size: 1em;
}

.main-caption {
  font-family: Poppins, Arial, sans-serif;
  font-weight: bold;
  line-height: normal;
  font-size: 1.25em;
}

.second-caption {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: normal;
  font-size: 1.125em;
}

.heading-nav, .page-header__select select, .page-header .main-nav, .auth-btn {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: bold;
  font-size: 1.0625em;
}

.btn-text, .btn {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  font-size: 1.125em;
}

.heading-sm, .heading-md, .heading-lg {
  color: #181E4B;
}

.heading-xs, .second-caption, .paragraph, .paragraph_card-p, .paragraph_list-p, .location-paragraph {
  color: #5E6282;
}

.main-caption {
  color: #DF6951;
}

.heading-sm, .heading-md {
  text-transform: capitalize;
}

.main-caption, .second-caption {
  text-transform: uppercase;
}

.paragraph, .paragraph_card-p, .paragraph_list-p {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 1em;
}
.paragraph_card-p {
  text-align: center;
  line-height: 1.5;
}
.paragraph_list-p {
  line-height: 1.2;
}

.location-paragraph {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 1.125em;
}

.btn {
  min-width: 170px;
  min-height: 60px;
  color: #FFFFFF;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.5em;
  transition: color 300ms, background-color 300ms, border 300ms;
}
.btn--info {
  background: #F1A501;
  box-shadow: 0 20px 60px #ffdcae;
}
.btn--info:hover {
  background-color: transparent;
  border: 1px solid #F1A501;
  color: #F1A501;
}
.btn--form {
  background: linear-gradient(#FF946D, #FF7D68);
}
.btn--play {
  min-width: 180px;
  background: #FFFFFF;
  color: #686D77;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.btn--play__icon {
  background: url("../assets/icons/play-btn.svg") 54% 50%/25% no-repeat #DF6951;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 20px 60px #DF6951;
}
.btn--play:hover {
  background-color: #DF6951;
  color: #FFFFFF;
}

.auth-btn {
  min-width: 100px;
  min-height: 40px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.3em;
  background-color: transparent;
  transition: 300ms border;
  cursor: pointer;
}

.auth-btn:hover {
  border: 1px solid #212832;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(320px, 1200px) minmax(16px, 1fr);
}

.grid-content {
  grid-column: 2/3;
}

.grid-content-full {
  grid-column: 1/-1;
}

.heading-lg {
  font-family: Volkhov, Georgia, serif;
  font-weight: bold;
  line-height: 1.06;
  font-size: 5.25em;
}

.heading-md {
  font-family: Volkhov, Georgia, serif;
  font-weight: bold;
  line-height: normal;
  font-size: 3.125em;
}

.heading-sm {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: normal;
  font-size: 1.25em;
}

.heading-xs {
  font-family: Poppins, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.245;
  font-size: 1em;
}

.main-caption {
  font-family: Poppins, Arial, sans-serif;
  font-weight: bold;
  line-height: normal;
  font-size: 1.25em;
}

.second-caption {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: normal;
  font-size: 1.125em;
}

.heading-nav, .page-header__select select, .page-header .main-nav, .auth-btn {
  font-family: Poppins, Arial, sans-serif;
  font-weight: lighter;
  line-height: bold;
  font-size: 1.0625em;
}

.btn-text, .btn {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  font-size: 1.125em;
}

.heading-sm, .heading-md, .heading-lg {
  color: #181E4B;
}

.heading-xs, .second-caption, .paragraph, .paragraph_card-p, .paragraph_list-p, .location-paragraph {
  color: #5E6282;
}

.main-caption {
  color: #DF6951;
}

.heading-sm, .heading-md {
  text-transform: capitalize;
}

.main-caption, .second-caption {
  text-transform: uppercase;
}

.paragraph, .paragraph_card-p, .paragraph_list-p {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 1em;
}
.paragraph_card-p {
  text-align: center;
  line-height: 1.5;
}
.paragraph_list-p {
  line-height: 1.2;
}

.location-paragraph {
  font-family: Poppins, Arial, sans-serif;
  font-weight: normal;
  line-height: 2;
  font-size: 1.125em;
}

.page-header {
  margin-top: 4.8vh;
  height: 2.778vw;
  width: 100%;
  align-items: center;
}
.page-header .main-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.page-header__content {
  display: grid;
  grid-template-columns: 3fr 6fr 2fr 1fr;
  align-items: center;
}
.page-header__nav a {
  justify-self: center;
  transition: font-size 100ms, color 100ms;
  cursor: pointer;
}
.page-header__nav a:hover {
  font-size: 1.2em;
  color: #F1A501;
}
.page-header__buttons {
  display: flex;
  justify-self: center;
  gap: 0.6vw;
}
.page-header__select {
  justify-self: right;
}
.page-header__select select {
  border: none;
  background: transparent;
}

.header, .section-three__header, .section-two__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 1vh;
}

.section-one {
  margin-top: 5vh;
  margin-bottom: 15vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-one__article {
  padding-top: 2vh;
  display: grid;
  grid-template-rows: 1fr 7fr 3fr 1fr;
  height: 65vh;
}
.section-one__article .paragraph, .section-one__article .paragraph_card-p, .section-one__article .paragraph_list-p {
  width: 78%;
}
.section-one__buttons {
  display: flex;
  grid-column-gap: 3vw;
}
.section-one #plane2 {
  position: absolute;
  right: 8vw;
  top: 25vh;
  z-index: -2;
}
.section-one #plane1 {
  position: absolute;
}

.section-two {
  margin-bottom: 20vh;
  background: url("../assets/background-decor/pluses_one.svg") top right no-repeat;
}
.section-two__header {
  margin-bottom: 10vh;
}
.section-two__content {
  display: flex;
  justify-content: space-between;
}

.section-three {
  background: url("../assets/background-decor/spring.svg") right 85% no-repeat;
  margin-bottom: 20vh;
}
.section-three__header {
  margin-bottom: 10vh;
}
.section-three__content {
  display: grid;
  grid-template: 1fr/1.5fr 1fr 1.5fr;
}

.section-fourth {
  padding-left: 3vw;
  margin-bottom: 20vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.section-fourth__left-part .heading-md {
  width: 90%;
  margin-bottom: 3vh;
  margin-top: 1.5vh;
}
.section-fourth__left-part .heading-xs {
  margin-bottom: 0.5vh;
}
.section-fourth__right-part {
  border: 1px solid dodgerblue;
}
.section-fourth__list {
  width: 70%;
  padding-left: 65px;
}
.section-fourth__list li {
  position: relative;
  margin-bottom: 5.5vh;
}
.section-fourth__list li::before {
  display: flex;
  position: absolute;
  left: -65px;
  padding: 13px;
  border-radius: 14px;
}
.section-fourth__list li:nth-child(1)::before {
  content: url("../assets/icons/list-icon_1.svg");
  background-color: #F0BB1F;
}
.section-fourth__list li:nth-child(2)::before {
  content: url("../assets/icons/list-icon_2.svg");
  background-color: #DF6951;
}
.section-fourth__list li:nth-child(3)::before {
  content: url("../assets/icons/list-icon_3.svg");
  background-color: #006380;
}

.img, .card--big .image--third, .card--big .image--second, .card--big .image--first {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: inherit;
  display: flex;
  align-items: end;
}

.card--small {
  background-color: #FFFFFF;
  border-radius: 36px;
  width: 270px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  position: relative;
  transition: box-shadow 300ms;
  cursor: pointer;
}
.card--small__image {
  width: 160px;
  height: 150px;
  display: flex;
  align-items: center;
}
.card--small .image--first {
  background: url("../assets/icons/small-card_image_11.svg") center no-repeat;
}
.card--small .image--second {
  background: url("../assets/icons/small-card_image_22.svg") center no-repeat;
}
.card--small .image--third {
  background: url("../assets/icons/small-card_image_33.svg") center no-repeat;
}
.card--small .image--fourth {
  background: url("../assets/icons/small-card_image_44.svg") center no-repeat;
}
.card--small h3 {
  white-space: nowrap;
}
.card--small p {
  width: 70%;
}
.card--small .decor--none {
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0 10px 0;
  position: absolute;
  z-index: -5;
  top: 250px;
  left: -40px;
  display: none;
}
.card--small:hover {
  box-shadow: 12px 10px 15px -4px rgba(225, 230, 233, 0.5);
}
.card--small:hover > .decor--none {
  display: block;
}
.card--big {
  background-color: #FFFFFF;
  border-radius: 24px;
  width: 315px;
  height: 460px;
  box-shadow: 15px 5px 15px rgba(225, 230, 233, 0.5);
  justify-self: center;
  transition: all 300ms;
  cursor: pointer;
}
.card--big .image--first {
  background: url("../assets/big-card_image_1.png") no-repeat center;
}
.card--big .image--second {
  background: url("../assets/big-card_image_2.png") no-repeat center;
}
.card--big .image--third {
  background: url("../assets/big-card_image_3.png") no-repeat center;
  background-size: cover;
}
.card--big__description {
  width: 315px;
  height: 29%;
  background: #FFFFFF;
  border-radius: 0 0 22px 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row-gap: 10px;
  padding: 0 20px;
}
.card--big__description__top {
  display: flex;
  justify-content: space-between;
}
.card--big__description__bottom {
  display: flex;
  grid-column-gap: 15px;
}
.card--big:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 25px 5px rgba(225, 230, 233, 0.5), 10px 10px 25px 5px rgba(225, 230, 233, 0.5);
}

body {
  background: url("../assets/background-decor/body-decor1.svg") right top/56% 25% no-repeat, radial-gradient(400px 400px at -250px 200px, #D5AEE4, #FFFFFF) no-repeat;
}

.hero {
  height: 78vh;
  background: url("../assets/hero.png") 98% center/120% no-repeat;
  background-size: contain;
}

/*# sourceMappingURL=style.css.map */
