@import "general/reset"
@import "general/vars"
@import "general/_typography/typography"
@import "button/button"
@import "general/_layout/layout"
@import "header/header"
@import "section/section"
@import "cards/cards"
@import "form/form"
@import "footer/footer"

body
  overflow-x: hidden
  background: url("../assets/background-decor/body-decor1.svg") right top/56% 16% no-repeat, radial-gradient(400px 400px at -250px 200px, $body-gradient, $white) no-repeat

.hero
  height: 78vh
  background: url("../assets/hero.png") 98% center/120% no-repeat
  background-size: contain