@import "../general/vars"
@import "../general/_typography/typography"
@import "../general/mixins"

.page-header
  @include width-height-radius(100%, $header-height, 0)
  margin-top: 4.8vh
  align-items: center

  .main-nav
    @extend .heading-nav
    @include grid(1fr, repeat(4, 1fr))
    align-items: center

  &__content
    @include grid(1fr, 3fr 6fr 2fr 1fr)
    align-items: center

  &__nav
    a
      justify-self: center
      transition: font-size 100ms, color 100ms
      cursor: pointer
      color: $black
    a:hover
      font-size: 1.2em
      color: $yellow

  &__buttons
    display: flex
    justify-self: center
    gap: $gap-md

  &__select
    justify-self: right

  &__select select
    border: none
    background: transparent
    @extend .heading-nav